/*EVENTOS DOM:*/
body{
    background-color: rgba(0, 125, 255, 0.900);
}

/*PARTE 1:*/
/*··································································································*/
/*onclick:*/
/*··································································································*/


/*··································································································*/
/*onchange:*/
/*··································································································*/

/*PARTE 2:*/

img{
    width: 200px;
    margin-bottom: 25px;
}

div{
    display: inline;
    padding: 10px;
    font-size: 2rem;
    background-color: orange;
}
/*PARTE 3:*/
