/*··································································································*/
/*ACESSANDO ELEMENTOS HTML COM JS:*/
/*··································································································*/
body{
    background-color: rgb(0, 125, 255, 0.900);
}

/*ÁREA PARA TESTES DOM:*/
.paragrafo{
    color: blue;
}

/*··································································································*/
/*MODIFICANDO ELEMENTOS:*/
/*··································································································*/



