/*ANALISADOR DE NÚMEROS*/

body{
    background-color: rgb(0, 125, 255);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;

    width: 500px;

    margin: auto;
    padding: 15px;

    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.500);
}

footer{
    color: white;
    font-style: italic;
    text-align: center;

}

select#flista{
    width: 150px;
}